# e² studio (Eclipse ベース) の不要ファイル
*.o
*.bin
*.elf
*.hex
*.map
*.axf
Debug/
Release/
build/
.metadata/
*.bak
*.tmp
*.d
*.cproject.bak
*.project.bak

# その他更新対象外
Hardware/
IMG/
.git/
.setteings/
LICENSE
Firmware/.cache/
Firmware/.metadata
Firmware/.settings
Firmware/build
Firmware/HardwareDebug
Firmware/src/smc_gen/r_emwin_rx/tool

# OS依存の不要ファイル
Thumbs.db
Desktop.ini
.DS_Store
._*
*.swp
*~
/Firmware/
